ion-content {
  background-color: rgb(88, 177, 212);
}

h1 {
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

p {
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}

h4 {
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
  color:azure;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
}

.custom {
  cursor: url(https://i.imgur.com/M3Hrpav.png), auto;
}