ion-content {
  background-color: skyblue;
}

h1 {
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

p {
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

h4 {
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}